{% extends "base.html" %}
{% load i18n %}

{% block "title" %}
    {% blocktrans with title=post.title %}
    "{{ title }}"
    {% endblocktrans %}
{% endblock %}

{% block "content" %}
<main class="mt-10">
    <article>
        <header class="mb-5">
            <p class="mb-2 text-zinc-500">{{ post.created_at }}</p>
            <h2 class="font-serif text-2xl">
                {{ post.title }}
            </h2>
        </header>
        <div class="overflow-hidden text-ellipsis">
            {{ post.content|linebreaksbr }}
        </div>
    </article>
    <section class="mt-5">
        <h3 class="font-serif text-xl">{% trans "Replies" %}</h3>
        {% if user.is_authenticated %}
        <button
            class="w-full px-5 py-1 my-5 text-sm text-center transition border rounded bg-zinc-950 hover:bg-zinc-900 border-zinc-900"
            hx-get="{% url 'posts:reply_create' %}?post={{ post.id }}"
            hx-target="#reply-target"
        >
            {% trans "Reply" %}
        </button>
        <div id="reply-target"></div>
        {% endif %}
        {% for reply in post.replies.all %}
        {% if reply.parent is None %}
            {% include "posts/components/reply.html" with reply=reply indent=0 %}
        {% endif %}
        {% endfor %}
    </section>
</main>
{% endblock %}